<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail Template</title>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <td><strong>Date</strong></td>
            <td><strong>No. of Session</strong></td>
            <td><strong>Percentage Change</strong></td>
            <td><strong>Unique Sessions</strong></td>
            <td><strong>Percentage Change</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{dyest}}</td>
            <td>{{nosdyes}}</td>
            <td>-</td>
            <td>{{uns_dyes}}</td>
            <td>-</td>
        </tr>
        <tr>
            <td>{{yest}}</td>
            <td>{{nosyes}}</td>
            <td>{{pchn}}%</td>
            <td>{{uns_yes}}</td>
            <td>{{pcn}}%</td>
        </tr>
    </tbody>
</table>

<p>Please download whole report from below link<br>
    <span>http://103.91.90.234:8000/apis/v1/report/</span></p>
</body>
</html>